<app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-even *ngFor="let even of evens"  [evenNumber]="even"></app-even>
      <app-odd *ngFor="let odd of odds" [oddNumber]="odd"></app-odd>
    </div>
  </div>
</div>


